*.sublime-project
*.sublime-workspace

# Ignore the bat autocomplete file.
bash_library/bat.bash

# Ignore the Backup folder change.
backup/*

# Some secret files
bash/.extra
bash/.fwknoprc
mc/.config/mc/hotlist
mc/.config/mc/hotlist.bak
mc/.local/share/mc/history
tmux/.tmux/resurrect/