[submodule "bootstrap_script/Install_tmux.sh"]
	path = bootstrap_script/Install_tmux.sh
	url = https://gist.github.com/Calvin-Zeng/e697c47d5e5f14a0812403d0104a8f7e
[submodule "bootstrap_script/Install_mc.sh"]
	path = bootstrap_script/Install_mc.sh
	url = https://gist.github.com/Calvin-Zeng/7cd698b5eb879f0a9e6a40af301b0000 
[submodule "sublime-text/.config/sublime-text-3/Packages/User"]
	path = sublime-text/.config/sublime-text-3/Packages/User
	url = https://github.com/Calvin-Zeng/sublime-config.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
