# refer to https://stackoverflow.com/questions/34119866/setting-up-and-using-meld-as-your-git-difftool-and-mergetool
[color]
	ui = auto
[diff]
	tool = icdiff
	# tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
	# external = $HOME/Work/diff.py
[difftool "icdiff"]
	cmd = icdiff -N "$LOCAL" "$REMOTE"
[icdiff]
	options = --line-numbers --cols="${COLUMNS}"
[merge]
	tool = meld
[mergetool "meld"]
	# Choose one of these 2 lines (not both!).
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	# cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[alias]
	lg = log
	st = status
	ad = add
	cl = clone
	in = init
	co = checkout
	re = reset
	ref = reflog
	br = branch
	pl = pull
	pu = push
	df = diff
	dft = difftool
	ci = commit
	sta = stash
	cle = clean
	cfg = config
	me = merge
	fe = fetch
	sh = show
	rl = rev
	rem = remote
